<% provide(:title, @taxon.name) %>
<%= render 'light_section', taxon: @taxon %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'sidebar', taxonomies: @taxonomies %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <%= render 'filter' %>
        </div>
        <%= render 'products', products: @products %>
      </div>
    </div>
  </div>
</section>
<%= render 'potepan/shared/partnerslogo' %>
